/* Estilos personalizados */
body {
  font-family: 'Cousine', monospace;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Cousine', monospace;
}

header {
  color: #000;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;

  &.scrolled {
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 999;
    // width: 100%;
    // padding: 10px;
  }

  #menu {
    width: 100%;
    justify-content: flex-end;

    ul {
      list-style-type: none;
      display: flex;
      // gap: 10px;
      // padding: 0px;
      margin: 0px;

      li {
        a {
          color: #000;
          text-decoration: none;
          white-space: pre;

          &:hover {
            color: #060606;
          }
        }

        + li {
          margin-left: 20px;
        }

        .dropdown-toggle {
          padding: 10px 0px;
        }
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
      transform: translateY(-30px);
      transition: all 0.3s;

      &.show {
        display: block;
        opacity: 1;
        transform: translate(-50%, 0px);
        transition: all .3s;
      }

      .dropdown-item {
        padding: 10px 15px;
        margin: -5px 0px;
        transition: all 0.3s;
        font-size: 16px;

        &:hover {
          background-color: #ffce3b;
          padding: 10px 15px;
          // color: white;
        }
      }
    }

    .dropdown:hover .dropdown-menu {
    @extend .show;
    }
  }

  #logo {
    background-color: #fff;

    img {
      width: 280px;
      height: auto;
      transition: 0.3s ease;
      cursor: pointer;
      position: relative;
      z-index: 99;

      &:hover {
        transform: translate(15px, 0px);
      }
    }
  }

  .navbar {
    background-color: white;
    /* outras propriedades de estilo para a navbar */
  }
}

#banner {
  background-image: url("https://i.imgur.com/VvzuCnc.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;

  @media (max-width: 768px) {
    // &::after {
    //   // height: 600px;
    // }
  }

  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    // background-image: url('https://cdn.pixabay.com/photo/2016/11/18/17/46/architecture-1836070_960_720.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
  }

  .banner__texto {
    font-size: 18px;
  }

  @media (min-width: 768px) {
    &::after {
      transform: translate3d(0, -50%, 0);
    }
  }
}
#content {
  padding: 0px;

  #content-section {
    .content-item {
      & .item__description {
        p {
          + p {
            margin-top: 15px;
          }
        }
      }

      .content-details {
        .content-image {
          position: relative;
        }

        .city-label {
          background-color: #ffce3b;
          padding: 5px 10px;
        }
      }
    }
  }

  .content__title {
    h1 {
      margin: 70px 0 30px;
      font-size: 58px;
      padding: 0px 25px;
      font-weight: bold;
    }
    span {
      display: block;
      height: 10px;
      width: 100px;
      background-color: #ffce3b;
      margin: 0px 20px;
    }
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #333;
  color: #fff;
  padding: 20px;
  transition: all 0.3s;
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar h3 {
  margin: 0;
  padding: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.content-details {
  margin-bottom: 45x;;
}

.sidebar-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: absolute;
    left: -100%;
    transition: all 0.3s;
  }

  .sidebar.active {
    left: 0;
  }

  .content {
    margin-left: 0;
  }

  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
  }
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &.show {
    display: block;
  }
}

/* Seção com slider e fundo amarelo suave */
.slider {
  opacity: 0;
  transition: opacity 1s ease;
}

.slider.show {
  opacity: 1;
}

.slider-section {
  z-index: 99999999;
  position: relative;
  padding: 60px 0;
  margin-bottom: 50px;

  .slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    cursor: grab;

    h1 {
      // font-size: 28px;
      // font-weight: bold;
      // margin-bottom: 15px;
    }

    a {
      margin-top: 15px;
      font-size: 14px;
      position: relative;
      transition: color 0.3s ease;
    }

    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #000;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }

    a:hover {
      color: #000;
      background-size: 0.125rem 3.125rem;
      color: #fcfcfc;
    }

    a:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }

    .slider__itemContent {
      margin-top: 20px;
      p {
        font-size: 16px;
      }
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }

      a {
        transition: all 0.3s ease;
      }

.slider__itemContent__description {
  margin: 0px 0px 30px 0px;
}

.slider__itemContent__img {
  cursor: pointer;
  transition: all 0.3s ease;

  img {
    transition: all 0.3s ease;
  }

  &:hover {
    img {
      transform: translate(0, 5px);
    }
  }
}
    }
  }

  /* Estilo para o botão Anterior */
  .slick-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .slick-prev:hover {
    background-color: #555;
  }

  &:before {
    left: 5%;
    font-family: slick;
    font-size: 35px;
    line-height: 1;
    opacity: .75;
    color: #ffce3b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 15%;
  }

  /* Estilo para o botão Próximo */
  .slick-next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .slick-next:hover {
    background-color: #555;
  }

  &:before {
    left: 5%;
    font-family: slick;
    font-size: 35px;
    line-height: 1;
    opacity: .75;
    color: #ffce3b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 15%;
  }
}

/* Estilo predefinido para o slider */
.slider {
  width: 100%;
  margin: 0 auto;

  .slick-slide {
    padding: 20px;

    h1 {
      // font-size: 24px;
      // font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }

    a {
      font-size: 14px;
      display: inline-block;
      text-align: center;
      margin-top: 40px;
      color: #333;
      text-decoration: underline;
      transition: all 0.3s ease;
      text-decoration: none;

      &:hover {
        color: #d39e00;
      }
    }
  }
}

hr.margin {
  margin: 5px 0px;
}

.slick-next:before, .slick-prev:before {
  left: 5%;
  font-family: slick;
  font-size: 35px;
  line-height: 1;
  opacity: .75;
  color: #ffce3b;
  position: absolute;
  top: 15%;
}